/**** pagination ****/
.pagination-wrapper {
	text-align: center;
	margin-top: 60px;

	@include media-query(991px) {
		text-align: left;
	}

	.pg-pagination {
		display: inline-block;
		overflow: hidden;
		list-style-type: none;
		text-align: center;

		li {
			float: left;
			margin-right: 10px;

			@include media-query(767px) {
				margin-right: 5px;
			}
		}

		li:last-child {
			margin-right: 0;
		}

		li a,
		li button {
			background-color: transparent;
			width: 50px;
			height: 50px;
			line-height: 47px;
			font-size: 20px;
			font-size: calc-rem-value(20);
			font-weight: 600;
			color: #a9b8c4;
			border: 2px solid #c9cfd4;
			display: block;
			cursor: pointer;
			text-align: center;
			padding: 0;

			@include media-query(991px) {
				width: 40px;
				height: 40px;
				line-height: 37px;
				font-size: 18px;
				font-size: calc-rem-value(18);
			}
		}

		.active a,
		.active button,
		li a:hover,
		li button:hover {
			background: $theme-primary-color;
			border-color: $theme-primary-color;
			color: $white;
		}

		li.disabled button {
			opacity: 0.5;
			cursor: not-allowed;
		}

		li.dots span {
			display: block;
			width: 50px;
			height: 50px;
			line-height: 47px;
			text-align: center;
			color: #a9b8c4;
		}

		.fi:before {
			font-size: 15px;
			font-size: calc-rem-value(15);
		}
	}
}

.pagination-wrapper-left {
	text-align: left;
}

.pagination-wrapper-right {
	text-align: right;

	@include widther(1200px) {
		padding-right: 50px;
	}

	@include media-query(991px) {
		margin-top: 45px;
		text-align: left;
	}
}
